body{
    background: whitesmoke;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 500px;
}

header{
    margin-top: 70px;
}

h1{
    color: purple;
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

p{
    font-size: 18px;
}

img{
    margin-bottom: 20px;
}

.logo{
    width: 50px;
}